USE [master]
GO
/****** Object:  Database [QuangJava]    Script Date: 08/27/2019 16:16:56 ******/
CREATE DATABASE [QuangJava] ON  PRIMARY 
( NAME = N'QuangJava', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QuangJava.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuangJava_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QuangJava_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuangJava].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuangJava]
GO
/****** Object:  User [quang]    Script Date: 08/27/2019 16:16:56 ******/
CREATE USER [quang] FOR LOGIN [quang] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[USERACCOUNT]    Script Date: 08/27/2019 16:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERACCOUNT](
	[userId] [varchar](5) NOT NULL,
	[userName] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[dateOfBirth] [date] NULL,
	[phoneNumber] [varchar](20) NOT NULL,
	[profilePicture] [varchar](50) NULL,
	[point] [int] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[createdBy] [varchar](50) NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[updatedBy] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
